html
  head
    title="Kontakt"
    
    link(rel="stylesheet" href="stylus/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")

    meta(name="viewport" content="width=device-width, initial-scale=1")
      
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
    script(src="./js/main.js") 
  body
    .navigation
      .logo-wrapper
        a(href="./index.html")
          img( class="logo" src="media/logo.svg", alt="Rarec Inc")
      .menu
        a(href="./index.html")="DOMOV"
        a(href="./products.html")="PRODUKTI"
        a(href="./contact.html" class="active")="KONTAKT"

    .centered-wrapper 
     
      .page-header
        h1="O nas"
        
      .about-us
        p="Podjetje RAREC IN d.o.o. je podjetje, ki se vse bolj uveljavlja na trgu enostavnih montažnihobjektov, izdelanih po evropskih smernicah in standardu SIST EN 13782:2015. V naši ekipi imamo izkušene certificirane varilce, kovinske konstrukcije pa so proizvedene po postopkih SIST EN 1090-1 in SIST EN 1090-2. Naši inženirji in projektanti pa vam pomagajo pri uresničitvi vaših izven standardnih želja. Smo fleksibilna in učinkovita ekipa."
        p="Sledimo novostim in uporabljamo vgradne materiale, ki imajo poreklo v Sloveniji in njihova kakovost zadovoljuje vsem standardom. Pred časom smo pridobili nove proizvodne prostore v Poslovni coni Komenda in tako uresničujemo našo vizijo; biti sodobni, uspešni in cenovno ugodni dolgoročni poslovni partnerji."
        
      .photo-bg
       
      section.contact#focus
        .page-header
           h1="Pišite nam"
           
        .flex   
          .message-form
            h3="Pošljite sporočilo"
            form#form(method="post" action="https://liveformhq.com/form/81be49cf-fdcf-4a3b-bf5c-443b92415600" accept-charset="utf-8")
              .row
                .column
                  .email.form-element
                    label(for="inputEmail")="email"
                    input#inputEmail(type="email" name="email")
                  .name.form-element
                    label(for="inputName")="name"
                    input#inputName(type="text" name="name")

                .column
                  .address.form-element
                    label(for="inputAddress")="address"
                    input#inputAddress(type="text" name="address")
                  .comp.form-element
                    label(for="inputCompany")="company"
                    input#inputCompany(type="text" name="company")

              label(for="inputMessage")="message"
              textarea#inputMessage(rows='8' name="message")

              input#submit-btn(type="submit")
              
          .contact-address
            h3="Kontaktni podatki"
            .address
              .location
                p="RAREC IN d.o.o. PC Žeje pri Komendi"
                p="Pod bori 2"
                p="1218 Komenda"
              .number
                p="Telefon: +386 1 51 50 250"
                p="Fax: +386 1 51 50 251"
              .email
                p(style="color:#AAA")="E-mail:  info@rarec.si"
              .gsm  
                p="GSM : 051 631 093"



    .footer
      .copyright
        p="© 2018 Rarec Inc"
      .address
        .location
          p="RAREC IN d.o.o. PC Žeje pri Komendi"
          p="Pod bori 2"
          p="1218 Komenda"
        .number
          p="Telefon: +386 1 51 50 250"
          p="Fax: +386 1 51 50 251"
        .email
          p="E-mail:  info@rarec.si"
        .gsm  
          p="GSM : 051 631 093"
      .footer-nav
        .nav
          .nav
            a(href="./index.html")="DOMOV"
            a(href="./products.html")="PRODUKTI"
            a(href="./contact.html" class="active")="KONTAKT"
            

        
