.footer
  .copyright
    p="© 2018 Rarec Inc"
  .address
    .location
      p="RAREC IN d.o.o. PC Žeje pri Komendi"
      p="Pod bori 2"
      p="1218 Komenda"
    .number
      p="Telefon : +386 1 51 50 250"
      p="Fax:        +386 1 51 50 251"
    .email
      p="E-mail:  info@rarec.si"
    .gsm  
      p="GSM : 051 631 093"
  .footer-nav
    .nav
      a(href="./index.html" class="active")="DOMOV"
      a(href="./products.html")="PRODUKTI"
      a(href="./contact.html")="KONTAKT"
            
 
