.footer
  .copyright
    p="© 2018 Rarec Inc"
  .address
    .location
      p="RAREC IN d.o.o. PC Žeje pri Komendi"
      p="Pod bori 2"
      p="1218 Komenda"
    .number
      p="Telefon : +386 1 51 50 250"
      p="Fax:        +386 1 51 50 251"
    .email
      p="E-mail:  info@rarec.si"
    .gsm  
      p="GSM : 051 631 093"
  .footer-nav
    .nav
      a(href="./index.html")="DOMOV"
      a(href="./contact.html")="KONTAKT"
      a(href="./reference.html")="REFERENCE"
      a(href="./o-podjetju.html")="O PODJETJU"
      <!-- Global site tag (gtag.js) - Google Analytics -->
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-117911509-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-117911509-1');
    
  <!-- Global site tag (gtag.js) - Google AdWords: 830026478 -->
  script(async src="https://www.googletagmanager.com/gtag/js?id=AW-830026478")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'AW-830026478');

            
 
