html
  head
    title="Domov"
    
    link(rel="stylesheet" href="./stylus/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")
      
    meta(name="viewport" content="width=device-width, initial-scale=1")
      
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
    script(src="./js/main.js") 
  body
    .navigation 
      .logo-wrapper
        a(href="./index.html")
          img( class="logo" src="media/logo.svg", alt="Rarec Inc")
      .menu
        a(href="./index.html" class="active")="DOMOV"
        a(href="./products.html")="PRODUKTI"
        a(href="./contact.html")="KONTAKT"
        
        
    section.hero
      .hero-text
        h1="20"
        p="LET IZKUŠENJ V GRADNJI MONTAŽNIH OBJEKTOV"
        a(href="./products.html")="naši izdelki →"
      .hero-bg
        div(class="hero-image" id="slider" )
          ul
            li(style="background-image:url('media/hero1.png')")
            
            li(style="background-image:url('media/hero2.png')")
            
            li(style="background-image:url('media/hero3.png')")     
            
        .control-wrapper
          .controls
             .control_prev
             .control_next
             
             
             
    section.homepage-two
      .two-image
      .two-text
        h1="Industrijski Šotori"
        p="Hitra montaža, odpornost in mobilnost. Služijo lahko kot skladišče, delavnica ter prodajni in razstavni prostor."
        a(href="./products.html")="več o industrijskih šotorih →"
        
             
             
    section.homepage-three
      .three-image
      .three-text
        h1="Konstrukcije po vaši meri"
        p="Naša izurjena ekipa strokovnjakov vam izdela in postavi manjše montažne konstrukcije po naročilu. Zagotovljamo vam visoko kakovost in delo opravljeno v dogovorjenih rokih."
        a(href="./products.html")="Več on naši ponudbi→"
        
    section.homepage-four
      .four-image-left
      .four-text
        h1="Kmetijski šotori"
        p="Izjemno hitra in učinkovita prostorska rešitev. Služijo lahko kot skladišča za bale, sekance, les in kmetijsko mehanizacijo."
        a(href="./products.html")="Več on naši ponudbi→"
      .four-image-right
      
      
    section.homepage-five
      .clients-wrapper
        .title
          h3="Partnerji"
        .client-grid
          .col
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/dinos.png", alt="dinos")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/droga.png", alt="droga")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/zito.png", alt="zito")
          .col
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/mercator.png", alt="mercator")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/banka.png", alt="BankaKoper")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/trimo.png", alt="trimo")
          .col  
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/dars.png", alt="dars")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/elaphe.png", alt="elaphe")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/btcity.png", alt="btcity")
          .col  
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/electrolux.png", alt="electrolux")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/helois.png", alt="helios")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/dbschen.png", alt="schenker")


    .footer
      .copyright
        p="© 2018 Rarec Inc"
      .address
        .location
          p="RAREC IN d.o.o. PC Žeje pri Komendi"
          p="Pod bori 2"
          p="1218 Komenda"
        .number
          p="Telefon : +386 1 51 50 250"
          p="Fax:        +386 1 51 50 251"
        .email
          p="E-mail:  info@rarec.si"
        .gsm  
          p="GSM : 051 631 093"
      .footer-nav
        .nav
          a(href="./index.html" class="active")="DOMOV"
          a(href="./products.html")="PRODUKTI"
          a(href="./contact.html")="KONTAKT"
            
 
