html
  head
    title="Domov"

    link(rel="stylesheet" href="./stylus/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")
      
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification" content="6wDja59QjEHqDonggu3u8BFWeldiqSkSidJw3MsnNMc")
  
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
    script(src="./js/main.js") 
    meta(name="description" content="Industrijski šotori, industrijske konstrukcije, kmetijski šotori in nadstreški. Podjetje Rarec In ima 20 let izkušenj v gradnji montažnih objektov. Za sabo imamo veliko uspešnih projektov. Kontaktirajte nas in poiskali bomo rešitev po meri.")
  body
    .navigation
      .logo-wrapper
        a(href="./index.html")
          img( class="logo" src="media/logo.svg", alt="Rarec Inc")
      .menu
        a(href="./index.html" class="active")="DOMOV"
        .dropdown-wrapper
          a(href="#")="PRODUKTI"
            .dropdown
              .dropdown-list
                a(href="./industrijski-sotori.html")="Industrijski šotori"
                a(href="./kmetijski-šotori.html")="Kmetijski šotori"
                a(href="./nadstreški.html")="Nadstreški"
                a(href="./konstrukcije-po-meri.html")="Konstrukcije po meri"
        a(href="./contact.html")="KONTAKT"
        a(href="./reference.html")="REFERENCE"
        a(href="./o-podjetju.html")="O PODJETJU"

        
        
    section.hero
      .hero-text
        h1="20"
        p="LET IZKUŠENJ V GRADNJI MONTAŽNIH OBJEKTOV"
        a(href="./industrijski-sotori.html" style="font-weight: 600")="naši izdelki →"
      .hero-bg
        div(class="hero-image" id="slider" )
          ul
            li(style="background-image:url('media/hero1.png')")
            
            li(style="background-image:url('media/hero2.png')")
            
            li(style="background-image:url('media/hero3.png')")     
            
        .control-wrapper
          .controls
             .control_prev
             .control_next
             
             
             
    section.homepage-two
      .two-image
      .two-text
        h1="Industrijski Šotori"
        p="Hitra montaža, odpornost in mobilnost. Služijo lahko kot skladišče, delavnica ter prodajni in razstavni prostor."
        a(href="./industrijski-sotori.html" style="font-weight: 600")="več o industrijskih šotorih →"
        
             
             
    section.homepage-three
      .three-image
      .three-text
        h1="Konstrukcije po vaši meri"
        p="Naša izurjena ekipa strokovnjakov vam izdela in postavi manjše montažne konstrukcije po naročilu. Zagotovljamo vam visoko kakovost in delo opravljeno v dogovorjenih rokih."
        a(href="./konstrukcije-po-meri.html" style="font-weight: 600")="Več o naši ponudbi→"
        
    section.homepage-four
      .four-image-left
      .four-text
        h1="Kmetijski šotori"
        p="Izjemno hitra in učinkovita prostorska rešitev. Služijo lahko kot skladišča za bale, sekance, les in kmetijsko mehanizacijo."
        a(href="./kmetijski-šotori.html" style="font-weight: 600")="Več on naši ponudbi→"
      .four-image-right
      

    include footer.pug
            
 
