doctype html
html
  head
    title="Nadstreški"
    
    link(rel="stylesheet" href="stylus/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")

    meta(name="viewport" content="width=device-width, initial-scale=1")
      
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
    script(src="./js/main.js") 
  body
    .navigation
      .logo-wrapper
        a(href="./index.html")
          img( class="logo" src="media/logo.svg", alt="Rarec Inc")
      .menu
        a(href="./index.html")="DOMOV"
        .dropdown-wrapper
          a(href="#" class="active")="PRODUKTI"
            .dropdown
              .dropdown-list
                a(href="./industrijski-sotori.html")="Industrijski sotori"
                a(href="./kmetijski-šotori.html")="Kmetijski sotori"
                a(href="./nadstreški.html")="Nadsteski"
                a(href="./konstrukcije-po-meri.html")="Konstrukcije po meri"
        a(href="./contact.html")="KONTAKT"
        a(href="./reference.html")="REFERENCE"
        a(href="./o-podjetju.html")="O PODJETJU"
        
    .centered-wrapper 
      .page-header(style='margin-bottom: 120px')
        .about-us
          h1="Kmetijski Šotori"
          p='Kmetijski šotori so izdelani iz pocinkane jeklene konstrukcije in prekriti s kakovostno pvc ponjavo.'
          p='Streha je prekrita s svetlobo prepustno ponjavo.  Barvo ponjave lahko prilagodimo v okviru barvne palete proizvajalca, nanjo pa je mogoče natisniti tudi napis oziroma sliko po vašem izboru. Ponjava je odporna na točo in težkogorljiva. Betoniranje temeljev ni potrebno.'
          p='Standardni razponi so od 8 do 15 m, dimenzije pa lahko prilagodimo vašim potrebam. Življenska doba je preko 15 let. Za kmetijske šotore ne potrebujete gradbenega dovoljenja.'
          a(href='./contact.html' style='font-weight: 600;')='pošlji povpraševanje →'
      .product-gallery
        h1(style='margin-bottom: 24px')="Primer kmetijskega šotora"
    .massive-image(style="background:url('./media/four-r.png')")            


    include footer.pug
