doctype html
html
  head
    title="Konstrukcije po meri"
    
    link(rel="stylesheet" href="stylus/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")

    meta(name="viewport" content="width=device-width, initial-scale=1")
      
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
    script(src="./js/main.js")
    meta(name="description" content="Naši strokovnjaki vam po naročilu izdelajo manjše montažne konstrukcije po meri kot sonadstrešnice, podesti, ograje, drsna vrata, nadstrešnice za smeti in popravila kovinskih izdelkov.")
  body
    .navigation
      .logo-wrapper
        a(href="./index.html")
          img( class="logo" src="media/logo.svg", alt="Rarec Inc")
      .menu
        a(href="./index.html")="DOMOV"
        .dropdown-wrapper
          a(href="#" class="active")="PRODUKTI"
            .dropdown
              .dropdown-list
                a(href="./industrijski-sotori.html")="Industrijski šotori"
                a(href="./kmetijski-šotori.html")="Kmetijski šotori"
                a(href="./nadstreški.html")="Nadstreški"
                a(href="./konstrukcije-po-meri.html")="Konstrukcije po meri"
        a(href="./contact.html")="KONTAKT"
        a(href="./reference.html")="REFERENCE"
        a(href="./o-podjetju.html")="O PODJETJU"
        
    .centered-wrapper 
      .page-header(style='margin-bottom: 120px')
        .about-us
          h1="Konstrukcije po meri"
          p='Naši strokovnjaki vam po naročilu izdelajo manjše montažne konstrukcije kot so nadstrešnice, podesti, ograje, drsna vrata, nadstrešnice za smeti in popravila kovinskih izdelkov'
          p='Za bolj podrobne informacije nas pokličite ali nam pošljite povpraševanje.'
          a(href='#' style='font-weight: 600;')='pošlji povpraševanje →'
      .product-gallery
        h1(style='margin-bottom: 48px')="Projekti v teku"
        .gallery-grid
          .row
            .img-text
              .img(style="background:url('./media/rarec-products/v1.png')")
              p='Jeklena konstrukcija Trimo'
            .img-text
              .img(style="background:url('./media/rarec-products/v2.png')")
              p='Vezava šotora Trimo'
          .row
            .img-text
              .img(style="background:url('./media/rarec-products/v3.png')")
              p='Postavitev konstrukcije'
            .img-text
              .img(style="background:url('./media/rarec-products/v4.png')")
              p='Vezava šotora'
         


    include footer.pug
