doctype html
html
  head
    title="Nadstreški"

    link(rel="stylesheet" href="./stylus/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")
      
    meta(name="viewport" content="width=device-width, initial-scale=1")
      
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
    script(src="./js/main.js") 
    meta(name="description" content="Naši nadstreški so praktični in oblikovani po najsodobnejših arhitekturnih smernicah. Ščitijo pred neugodnim vremenom in so 100% odporni na točo. Obiščite našo spletno stran in preverite.") 
  body
    .navigation
      .logo-wrapper
        a(href="./index.html")
          img( class="logo" src="media/logo.svg", alt="Rarec Inc")
      .menu
        a(href="./index.html")="DOMOV"
        .dropdown-wrapper
          a(href="#" class="active")="PRODUKTI"
            .dropdown
              .dropdown-list
                a(href="./industrijski-sotori.html")="Industrijski šotori"
                a(href="./kmetijski-šotori.html")="Kmetijski šotori"
                a(href="./nadstreški.html")="Nadstreški"
                a(href="./konstrukcije-po-meri.html")="Konstrukcije po meri"
        a(href="./contact.html")="KONTAKT"
        a(href="./reference.html")="REFERENCE"
        a(href="./o-podjetju.html")="O PODJETJU"
        
    .centered-wrapper 
      .page-header(style='margin-bottom: 120px')
        .about-us
          h1="Nadstreški"
          p='Praktični in oblikovani po najsodobnješih  arkitekturnih smernicah. Ščitijo pred neugodnim vremenom in so 100% odporni na točo. Za zaščito osebnih in gospodarskih vozil, industrijske mehanizecije ter gradbenega materiala.'
          p='Izdelani iz  iz aluminija, vroče potopno cinkanih veznih železnih elementov, pokrivala iz visokokovostne PVC ponjave, trapezne pločevine ali izolacijskih panelnih plošč.'
          a(href='./contact.html' style='font-weight: 600;')='pošlji povpraševanje →'
      .product-gallery
        h1(style='margin-bottom: 48px')="Nadstrešek za avtomobile"
    .massive-image(style="background:url('./media/hero1.png')")            


    include footer.pug
