html
  head
    title="Reference"

    link(rel="stylesheet" href="./stylus/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")
      
    meta(name="viewport" content="width=device-width, initial-scale=1")
      
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
    script(src="./js/main.js") 
    meta(name="description" content="Ponosni smo na vsak projekt, ki so nam ga zaupali cenjeni naročniki. Preverite samo nekaj naših partnerjev s katerimi smo sodelovali. Za več informacij stopite z nami v stik.")
  body
    .navigation
      .logo-wrapper
        a(href="./index.html")
          img( class="logo" src="media/logo.svg", alt="Rarec Inc")
      .menu
        a(href="./index.html")="DOMOV"
        .dropdown-wrapper
          a(href="#")="PRODUKTI"
            .dropdown
              .dropdown-list
                a(href="./industrijski-sotori.html")="Industrijski šotori"
                a(href="./kmetijski-šotori.html")="Kmetijski šotori"
                a(href="./nadstreški.html")="Nadstreški"
                a(href="./konstrukcije-po-meri.html")="Konstrukcije po meri"
        a(href="./contact.html")="KONTAKT"
        a(href="./reference.html" class="active")="REFERENCE"
        a(href="./o-podjetju.html")="O PODJETJU"
      
      
    section.homepage-five
      .clients-wrapper
        .title
          h1="Sodelovali smo"
        .client-grid
          .col
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/dinos.png", alt="dinos")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/droga.png", alt="droga")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/zito.png", alt="zito")
          .col
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/mercator.png", alt="mercator")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/banka.png", alt="BankaKoper")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/trimo.png", alt="trimo")
          .col  
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/dars.png", alt="dars")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/elaphe.png", alt="elaphe")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/btcity.png", alt="btcity")
          .col  
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/electrolux.png", alt="electrolux")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/helois.png", alt="helios")
            .client
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1651179/dbschen.png", alt="schenker")


    include footer.pug
            
 
